body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('/images/ecos.png');
    background-size: contain;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 50vw;
    height: 50vh;
  }
  
  h1 {
    font-size: 5em;
    margin-bottom: 20px;
  }
  
  button {
    font-size: 1.5em;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f3e3b8;
    color: white;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #e91e63;
  }
  
  .result {
    margin-top: 20px;
    font-size: 2em;
  }